html{
  scroll-behavior: auto;
  background-color: rgb(242, 247, 248);
}
.girl{
display: flex;
}
*, ::after, ::before{
box-sizing: border-box;
margin: 0;
padding: 0;
}
header nav {
background-color: rgb(242, 247, 248);
width: fit-content;
height: fit-content;
  text-align: left;
  padding: 18px 32px;
  position: fixed;
  width: 100%;
  transition: all .2s ease-in-out;
  display: block; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
header nav ul{
  display: flex;
  gap: 20px;
}
ul{
  list-style-type: none;
}
header nav ul li a {
  color: rgb(61,79,96);
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  text-decoration: none;
  font-weight:bold;
 padding-left:-20px ;
  }
.but{
padding: 17px 25px;
border-radius: 10px;
color: rgb(17,32,46);
font-size: 17px;
font-weight: bold;
margin-left: 180px;
border: 1px solid;
}
.create{
padding: 17px 25px;
border-radius: 10px;
background-color: rgb(17,32,46);
color: aliceblue;
font-size: 17px;
font-weight: bold;
margin-right: 80px;
}
header nav .dropdown{
  display: none;
}
h1 pre{
color: black;
margin-top: 10px;
letter-spacing: 2px;
font-size: 20px; 
visibility: inherit;
font-weight: lighter;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Better{
color: rgb(3, 2, 51);
font-size: 50px;
margin-left: 80px;
margin-top: 150px ;

}
.font{
margin-top: 100px;
}
.all{
margin-right: 300px;
}
.wom{
border-radius: 16px;
 width:520px;
   margin-left: 220px; 
   margin-top: 150px; 
   border-radius: 36px; 
}

.header{
  /* position: absolute; */
opacity: 1;
width: 210px;
margin-left: -600px;
margin-bottom:340px;
border-radius: 15px;
}
.header2{
  /* position: absolute; */
opacity: 1;
width: 210px;
margin-left: 230px;
/* margin-top: 240px; */
margin-bottom:365px;
border-radius: 16px;
}
.header3{
  /* position: absolute; */
opacity: 1;
width: 210px;
margin-left: -670px;
margin-bottom: 130px;
/* margin-top: 480px; */
border-radius: 15px;
}
.header4{
  /* position: absolute; */
opacity: 1;
width: 210px;
margin-left: 600px;
margin-bottom:180px;
margin-top: -400px;
border-radius: 15px;
}
.header5{
  /* position: absolute; */
opacity: 1;
width: 210px;
margin-left: 400px;
margin-top: -290px;
margin-bottom: 20px;
border-radius: 15px;

}
.sec{
margin-left: 200px; 
margin-top: -25px; 
font-size: 20px; 
font-weight: lighter;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right{
  
margin-right: -50px;
margin-left: 270px;
text-decoration: none;
font-size: 20px;
color: rgb(18,34,49);
}
.ways{
  width: 300px;
  height: 200px;
  text-align: center;
font-size: 55px; 
line-height: 66px; max-width: 350px;  
font-family: Eina 1px bold; 
font-weight: 700; 
color: #122231; 
margin: 285px 170px 0;
}
.security{
color: rgb(18,34,49);
font-size: 30px;
font-weight: bold; 
margin-top: 150px;
margin-left:195px; 
margin-bottom: 30px;
}
.earn{
  text-align: center;
margin: 0px 150px 0px;
 font-size: 24px; 
 max-width: 350px;
  line-height: 35px;
}
.lock{
  margin-bottom: -250px;
margin-top: 100px;
 margin-left: 45px;
}
.iphone{
background-color: rgb(18,34,49);
color: white;
padding: 17px 25px;
border-radius: 10px;
font-size: 17px;
font-weight: bold;
margin-left: 5px;
margin-top: 45px;
}
.phone1{
  cursor: pointer;
  position: relative;
  visibility: inherit;
  transition: all .3s ease;
  margin: unset;
  overflow: hidden;
  width: 565px;
  height: 450px;
  margin-bottom: 0;
  margin-top: -300px;
  margin-right: 70px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 00 1px 0 #ced3da;
  background-color: #fff;
  float: right;

}
.phone1:hover{
  background-color:#0f60d6 ;
}
.phone1:hover h5{
  color: #fff;
}
.pig{
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
.pig:hover{
  text-decoration: none;
  cursor: pointer;
}

.auto{
  color: rgb(0, 51, 153);
  max-width: unset;
  margin-top: 25px;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  font-weight: 700;
}
.auto:hover{
  color: #fff;
  transition:color .3s ease;
}
.text{
  margin: 18px 0 40px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 290px;
  min-height: 80px;
  color: #3d4f60;
}
.phone1:hover .text{
  color: #fff;
}
.phone1 img{
  width: 0px;
  height: 0px;
  position: absolute;
  /* visibility: hidden; */
  transition: all .5s ease;
 right: -100px;
}
.phone1:hover img{
  
  width: 250px;
  height: 250px;
  /* visibility: visible */
  bottom: 0;
  right: 20px;
}
#ggy{
  color:rgb(0, 51, 153);
  margin-top: 200px;
  margin-left: 40px;
  font-weight: 500; 
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.phone1:hover #ggy{
  color: #fff;
}

.phone2{
  cursor: pointer;
  position: relative;
  visibility: inherit;
  transition: all .3s ease;
  overflow: hidden;
  width: 565px;
  height: 450px;
  margin-top: 180px;
  margin-left: 100px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 00 1px 0 #ced3da;
  background-color: #fff;
}
.phone2:hover{
  background-color: #2295f2;
}
.auto1{
  color: #2295f2;
  max-width: unset;
  margin-top: 25px;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  font-weight: 700;
}
.phone2:hover h5{
  color: #fff;
}
.text1{
  margin: 18px 0 40px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 290px;
  min-height: 80px;
  color: #3d4f60;
}
.phone2:hover .text1{
  color: #fff;
}
.phone2 img{
  width: 0px;
  height:0px ;
  position: absolute;
  /* visibility: hidden; */
  transition: all .5s ease;
  bottom: 0;
  right: -100px;
}
.phone2:hover img{
  width: 250px;
  height: 250px;
  /* visibility: visible; */
  bottom: 0;
  right: 20px;
}
.ggy1{
  color:#2295f2;
  margin-top: 200px;
  margin-left: 40px;
  font-weight: 500; 
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.phone2:hover .ggy1{
  color: #fff;
}
.phone3{
  cursor: pointer;
  position: relative;
  visibility: inherit;
  transition: all .3s ease;
  margin: unset;
  overflow: hidden;
  width: 565px;
  height: 450px;
  margin-bottom: 0;
  margin-top: -453px;
  margin-right: 70px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 00 1px 0 #ced3da;
  background-color: #fff;
  float: right;
}
.phone3:hover{
  background-color: rgb(6, 155, 64);
}
.auto2{
  color: rgb(6, 155, 64);
  max-width: unset;
  margin-top: 25px;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  font-weight: 700;
}
.phone3:hover h5{
  color: #fff;
}
.text2{
  margin: 18px 0 40px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 290px;
  min-height: 80px;
  color: #3d4f60;
}
.phone3:hover .text2{
  color: #fff;
}
.phone3 img{
  width: 0px;
  height: 0px;
  position: absolute;
  /* visibility: hidden; */
  transition: all .5s ease;
  bottom: 0;
  right: -100px
}
.phone3:hover img{
  width: 250px;
  height: 250px;
  /* visibility: visible; */
  bottom: 0;
  right: 20px;
}
.ggy2{
  color:rgb(6, 155, 64);
  margin-top: 200px;
  margin-left: 40px;
  font-weight: 500; 
  font-family: Verdana, Geneva, Tahoma, sans-serif 
}
.phone3:hover .ggy2{
  color: #fff;
}
.phone4{
  cursor: pointer;
  position: relative;
  visibility: inherit;
  transition: all .3s ease;
  overflow: hidden;
  width: 565px;
  height: 450px;
  margin-top: 25px;
  margin-left: 100px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 00 1px 0 #ced3da;
  background-color: #fff;
}
.phone4:hover{
  background-color: #e5489b;
}
.auto3{
  color: #e5489b;
  max-width: unset;
  margin-top: 25px;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  font-weight: 700;
}
.phone4:hover h5{
  color: #fff;
}
.text3{
  margin: 18px 0 40px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 290px;
  min-height: 80px;
  color: #3d4f60;
}
.phone4:hover .text3{
  color: #fff;
}
.phone4 img{
  width: 0px;
  height: 0px;
  position: absolute;
  /* visibility: hidden; */
  transition: all .5s ease;
  bottom: 0;
  right: -100px;
}
.phone4:hover img{
  width: 250px;
  height: 250px;
  /* visibility: visible; */
  bottom: 0;
  right: 20px;
}
.ggy3{
  color:#e5489b;
  margin-top: 200px;
  margin-left: 40px;
  font-weight: 500; 
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.ggy3:hover{
  color: #fff;
}
.phone5{
  cursor: pointer;
  position: relative;
  visibility: inherit;
  transition: all .3s ease;
  margin: unset;
  overflow: hidden;
  width: 565px;
  height: 450px;
  margin-bottom: 0;
  margin-top: -453px;
  margin-right: 70px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 00 1px 0 #ced3da;
  background-color: #fff;
  float: right;
}
.phone5:hover{
  background-color:#0c1825;
}
.auto4{
  color: #0c1825;
  max-width: unset;
  margin-top: 25px;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  font-weight: 700;
}
.phone5:hover h5{
  color: #fff;
}
.text4{
  margin: 18px 0 40px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 290px;
  min-height: 80px;
  color: #3d4f60;
}
.phone5:hover .text4{
  color:#fff;
}
.phone5 img{
  width: 0px;
  height: 0px;
  position: absolute;
  /* visibility: hidden; */
  transition: all .5s ease;
  bottom: 0;
  right: -100px;
}
.phone5:hover img{
  width: 250px;
  height: 250px;
  /* visibility: visible; */
  bottom: 0;
  right: 20px;
}
.ggy4{
  color:#0c1825;
  margin-top: 200px;
  margin-left: 40px;
  font-weight: 500; 
  font-family: Verdana, Geneva, Tahoma, sans-serif  
}
.phone5:hover .ggy4{
  color:#fff;
}
.invest{
background-color: #fff;
padding-top: 20px;
padding-bottom: 90px;
padding: 10rem 16px;
margin-top: 100px;
height: 830px;

}
.auto5{
font-size: 45px;
/* line-height: 54px; */
color: #122231;
font-weight: 900;
text-align: center;
margin-top: -50px;
font-family: Arial, Helvetica, sans-serif;
}
.text5{
font-size: 24px;
line-height: 33px;
font-weight: 400;
margin-top: 15px;
text-align: center;
}
.purple{
height: 500px;
/* flex-wrap: wrap; */
justify-content: center;
display: flex;
padding: 4px 5px;
background-color: #7913e5;
border-radius: 30px;
width: 1150px;
max-width: 1250px;
margin-left: 85px;
margin-top: 55px;
/* margin: 4rem 0; */
/* position: relative; */
overflow: hidden;
}
.myinv{
  margin-left: 650px;
   /* float: right;  */
  margin-top: -230px;
}
.returns{
  /* max-width: unset; */
   font-size: 36px; 
  line-height: 50px;
   color: #fff;
  margin-top: 50px;
  margin-left: 270px;
}
.money{
   font-size: 25px;
   line-height: 29px;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 270px;
     color: #fed6f1;
   font-family: 'Courier New', Courier, monospace;
}
.meet{
font-size: 48px;
margin-bottom: 15px;
text-align: center;
line-height: 54px;
font-weight: 700;
color: #122231;
margin-top: 150px;
}
.every{
font-size: 30px;
line-height: 40px;
font-weight: 400;
margin-top: 10px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
}
iframe{
object-fit: cover;
width: 800px;
border: 10px solid #fff;
border-radius: 24px;
min-height: 465px;
margin-bottom: 2rem;
margin-left: 17rem;
}
.olabisi{
  margin-left: 100px;
   margin-top: 100px;
    margin-bottom: 300px;
}
.Join{
float: right;
margin-top: -50px;
margin-right: 300px;
font-weight: 700;
font-size: 35px;
/* line-height: 36px; */
color: #122231;
}
.bisi{
  margin-top: -700px;
  
}
.get{
margin-left: 600px;
margin-top: 30px;
margin-left: 580px;
/* margin-right: 20px; */
padding: 10px 16px;
border: 1px solid #ccc9c9;
border-radius: 12px;
display: inline-block;
font-size:12.82px;
transition: all .3s ease-in-out; 
text-decoration: none;
cursor: pointer;
font-weight: 600;
color: #122231;
}
.and{
margin-left: 750px;
margin-top: -30px;
padding: 10px 16px;
border: 1px solid #ccc9c9;
border-radius: 12px;
display: inline-block;
font-size:12.82px;
transition: all .3s ease-in-out; 
text-decoration: none;
cursor: pointer; 
font-weight: 600; 
color: #122231;
}
.feat{
font-size: 28px;
line-height: 36px;
font-weight: 700;
color: #122231;
text-align: center;
margin-top: 500px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-bottom: 20px;
}
.featuerd{
display: flex;
/* flex-flow:row; */
/* align-items: center; */
justify-content: space-between;
margin-left:140px;
margin-right: 80px;
margin-bottom: -130px;
}
.logopig{
  margin-top: 150px;
  margin-left: 85px;
}
.ndpr{
  margin-left:120px;
}
.pro{
-moz-box-ordinal-group:2;
order: 1;
-mox-box-flex:0;
flex: 0 0 50%;
margin-left: 400px;
margin-top: -125px;
}
.pro p{
font-size: 14px;
margin-bottom: 8px;
line-height: 22.08px;
color: #122231;
font-weight: bold;
}
.pro a{
color: #3d4f60;
/* letter-spacing: -.3em; */
display: block;
text-align: left;
font-weight: 300;
transition: color .5s;
font-size: 14px;
margin-bottom: 8px;
line-height: 22.08px;
text-decoration: none;
cursor: pointer;
}

.com{
-moz-box-ordinal-group:2;
order: 1;
-mox-box-flex:0;
flex: 0 0 50%;
margin-left: 590px;
margin-top: -210px;
}
.com p{
font-size: 14px;
margin-bottom: 8px;
line-height: 22.08px;
color: #122231;
font-weight: bold;
}
.com a{
color: #3d4f60;
/* letter-spacing: -.3em; */
display: block;
text-align: left;
font-weight: 300;
transition: color .5s;
font-size: 14px;
margin-bottom: 8px;
line-height: 22.08px;
text-decoration: none;
cursor: pointer;
}
.leg{
-moz-box-ordinal-group:2;
order: 1;
-mox-box-flex:0;
flex: 0 0 50%;
margin-left: 760px;
margin-top: -117px;
}
.leg p{
font-size: 14px;
margin-bottom: 8px;
line-height: 22.08px;
color: #122231;
font-weight: bold; 
}
.leg a{
color: #3d4f60;
/* letter-spacing: -.3em; */
display: block;
text-align: left;
font-weight: 300;
transition: color .5s;
font-size: 14px;
margin-bottom: 8px;
line-height: 22.08px;
text-decoration: none;
cursor: pointer;
}
.social{
margin-right: 64px;
justify-content: flex-end;
margin-bottom: 5px;
display: flex;
list-style-type: none;
margin-top: -120px;
}
li{
text-align: -webkit-match-parent;
}
.face{
transition: .5s;
line-height: 0;
display: flex;
align-items: center;
width: 32.8px;
height: 32px;
}
.insta{
transition: .5s;
line-height: 0;
display: flex;
align-items: center;
width: 32.8px;
height: 32px;
}
.twit{
transition: .5s;
line-height: 0;
display: flex;
align-items: center;
width: 32.8px;
height: 32px;
}
.tik{
transition: .5s;
line-height: 0;
display: flex;
align-items: center;
width: 32.8px;
height: 32px;
}
.you{
transition: .5s;
line-height: 0;
display: flex;
align-items: center;
width: 32.8px;
height: 32px;
}
.loc{
margin-right: 70px;
text-align: right;

}
.loc a{
text-decoration: none;
line-height: 31px;
margin-bottom: 10px;
color: #3d4f60;
}
.end{
margin: 80px 70px 30px;
border-top: 0.2px solid hsla(0,0%,74.1%,.5215686275);
padding-top: 40px;
}
footer{
padding: 10px 16px 10px;
font-size: 13.82px;
background: #fff;
text-align: left;
}
header nav .dropdown {
position: absolute;
top: -12px;
right: -20px;
padding: 20px;
}
header nav .dropdown .line {
  width: 28px;
  height: 3px;
  margin: 6px auto;
  transition: all .2s ease-in-out;
}

@media only screen and (max-width:700px) {
 header nav ul {
  display: none;
 }
 header nav button {
  display: none;
 }
header nav .dropdown {
  
  display: block;
  margin-top: 15px;
}

header nav .dropdown .line {
  display: block;
  background: #122231;
  margin-right: 40px;
}

header nav .dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: 0.5 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  margin-top: -400px;
}

header nav .dropdown .line ul {
  opacity: 1;
}

.create{
  display: none;
}

.but{
  display: none;
}

.Better{
  margin-left: 80px;
  margin-top: 130px;
  width: 600px;
  font-size: 60px;
  line-height: 55px;
  text-align: center;
}

.Better pre{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  
  .iphone{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 20px;
  }
  .wom{
    margin-left: 250px;
  }
    
  .all{
    margin-top: 500px;
    margin-left: -870px;
  }

  .headers{
    margin-top: 500px;
    margin-left: -670px;
  }
  .header2{
    margin-left: 210px;
  }
  .header3{
    margin-left: 190px;
    margin-top: -200px;
  }
        
  .security{
   margin-left: 115px;
   margin-top: 170px;
   font-size: 35px;

}
.right{
  margin-top: 10px;
margin-left: 25px;
}
.sec{
  margin-left:50px;
  font-size: 20px;
  line-height: 26px;
}

.lock{
  width: 160px;
  margin-top: 250px;
  margin-left: 235px;
  margin-bottom:-150px;
}

.ways{
  font-size: 40px;
  line-height: 40px;
}

.earn{
  width: 350px;
  height: 50px;
  margin-top: -10px;
  font-size: 25px;
  margin-bottom: 30px;
}

.phone1{
  margin-top: 65px;
  margin-right: -900px;
}

.phone2{
  right: 0px;
  top: 30px;
  margin-right: -30px;
}

.phone3{
  margin-top: 65px;
  margin-right: 50px;
}

.phone4{
  right: 0px;
  top: 30px;
  margin-right: -30px;

}

.phone5{
  margin-top: 65px;
  margin-right: 50px;

}

.invest{
 margin-top: 620px;
 height: 1000px;
 width:750px;
}

.purple{
  width: 550px;
  height: 700px;
 margin-left: 60px;
}

.myinv{
  width: 400px;
  height: 400px;
  margin-right: 650px;
  margin-top: 48px;
    
}
  
.returns{
  margin-left: 910px;
}
    
.money{
  margin-top: 5px;
  margin-left: 885px; 
  font-size: 23px;
        
}

.meet{
  font-size: 45px;
  margin-left: 40px;
  width: 650px;
          
}
.every{
  width: 650px;
}

.tube{
   width: 620px;
   margin-top: 20px;
   margin-left: 30px; 
}
.featuerd{
  width: 100px;
  height: 20px;
  margin-left: 45px;
  gap: 23px;
}
.feat{
  margin-top: 180px;
  margin-left: 30px;
}
.tech{
  width: 90px;
  height: 20px;
  margin-left: 50px;
}
.guardian{
  width: 150px;
  height: 20px;
}
.crunch{
  width: 100px;
  height: 20px;
  margin-right: 45px;
}
.fast{
 width: 200px;
 height: 40px;
 margin-right: 120px;
}
.cio{
  width: 100px;
  height: 20px;
  margin-top: -50px;
}
.pwn{
  width: 100px;
  height: 20px;
  margin-right: 80px;
}
.logopig{
  margin-top: 250px;
  margin-left: 0px;
}
.ndpr{
  margin-left: 0px;
}
.pro{
margin-top: 50px;
margin-left: 10px;
}
.com{
  margin-left: 350px;
}
.leg{
  margin-left: 10px;
  margin-top: 140px;
}
.social{
  margin-right: 470px;
  margin-top: 50px;
}
.loc{
  text-align: left;
  margin-left: 10px;
}
.end{
  margin-left: 0px;
}
.olabisi{
 display: none;
}
.bisi{
  text-align: center;
  height: 40px;
  margin-top: 150px;
  margin-left: 80px;
  margin-right: -180px;
}
.join{
  margin-left: 200px;
  text-align: center;
}
.get{
 margin-left: -145px;
 margin-right: 70px;
 /* margin-bottom: -300px; */
}
.and{
  margin-left: -50px;
  margin-right: 80px;
  /* margin-bottom: -300px; */
}
footer{
  width:750px;
}
}
          
  
